   Action,
    Adventure,
    Animation,
    Biography,
    Comedy,
    Crime,
    Documentary,
    Drama,
    Family,
    Fantasy,
    Film-Noir,
    Game Show,
    History,
    Horror,
    Musical,
    Music,
    Mystery,
    News,
    Reality-TV,
    Romance,
    Sci-Fi,
    Short,
    Sport,
    Talk-Show,
    Thriller,
    War,
    Western,
    Superhero,
    Teen,
    Psychological,
    Disaster,
    Martial Arts,
    Rom-Com,
    Period Drama,
    Political,
    Anthology,
    Dark Comedy,
    Cyberpunk,
    Steampunk,
    Experimental,
    Heist,
    Slasher,
    Survival,
    Post-Apocalyptic,
    Dystopian,
    Space Opera,
    Spy/Espionage,
    Gothic,
    Parody,
    Satire,
    Tragedy,
    Coming-of-Age,
    Found Footage,
    Monster,
    Legal Drama,
    Medical Drama,
    Crime Procedural,
    Epic,
    Mythology,
    Chick Flick,
    Road Movie,